/processor/.env
/processor/langchain-docs-raw-data/
/processor/__pycache__/
.vscode/
/scraper/node_modules/
/processor/nextjs-docs-raw-data/
processor/nextjs-docs-raw-data
/processor/react-docs-raw-data/
/processor/llamaindex-docs-raw-data/
/processor/sdk.vercel.ai-docs-raw-data/
/scraper/parsed-docs/
.env
/processor/parsed-docs/
/processor/cleaned-docs/
.venv/
venv/
ingestion.log